@page "/"
@inject IWebHostEnvironment appEnvironment

<PageTitle>Project-o-Matic</PageTitle>

<div id="main">               
        <div class="column column-left">

    </div>
    <div class=main-inner>
        <div id="machine">
                <div class="title-container">
         <img class="title" src="images/PngLogo.png"/>
    </div>
          <div id="framework-center">
              <div>
            <div class="reel-frames">
              <div class="reels-machinery">
                    <div class="figures" name="level">
                        <div class="@SpinReelCssClass spin-reel-container">
                        <img class="spin-reel-image" src="images/skill-level-icons/@SelectedSkillLevel.Icon"/>
                        <p class="reel-text">@SelectedSkillLevel?.Name</p>
                        </div>
                    </div>
              </div>
              <div class="option-text-container">
                <h5 class="option-text">Skill Level</h5>
              </div>
           
            </div>
             <div class=button-group>                        
              <div class="up-skill-button buttons up-button" @onclick="UpSkillLevelButton">▲</div>
              <div class="down-skill-button buttons down-button" @onclick="DownSkillLevelButton">▼</div>
            </div>
            </div>
            <div>
            <div class="reel-frames">
              <div class="reels-machinery">
                    <div class="figures" name="language">
                         <div class="@SpinReelCssClass">
                        <img height="80" width="80" src="images/language-icons/@SelectedLanguage.Icon"/>
                        <p class="reel-text">@SelectedLanguage?.Name</p>
                        </div>
                    </div>
              </div>
              <div class="option-text-container">
              <h5 class="option-text">Language</h5>
              </div>
            </div>
                           <div class=button-group> 
              <div class="up-language-button buttons up-button" @onclick="UpLanguageButton">▲</div>
               <div class="down-language-button buttons down-button" @onclick="DownLanguageButton">▼</div>
            </div>
            </div>
            <div>
            <div class="reel-frames">
              <div class="reels-machinery">
                <div class="figures" name="framework">
                     <div class="@SpinReelCssClass">
                    <img height="80" width="80" src="images/framework-icons/@SelectedFramework.Icon"/>
                    <p class="reel-text">@SelectedFramework?.Name</p>
                    </div>
                </div>
              </div>
              <div class="option-text-container">
              <h5 class="option-text">Framework</h5>
              </div>
                         
            </div>
             <div class=button-group>
                           
              <div class="up-framework-button buttons up-button" @onclick="UpFrameworkButton">▲</div>
               <div class="down-framework-button buttons down-button" @onclick="DownFrameworkButton">▼</div>
            </div>  
            </div>
          </div>
       <div id="button-panel">
            <div id="fetch-button" class="buttons" @onclick="FetchProject">GO</div>
      </div>
    </div>

     <div class="overlay-button-container">
        @*<Button Class="overlay-button">WTF is the Project-o-Matic?</Button>*@
    </div>

    <TextAccordion></TextAccordion>

              <div class="footer">
      <p>Created for <a href="https://twitter.com/TechPickleJoel/status/1527273923037081601">The Self-Taught Tech Network</a> as part of the <a href="https://planetscale.com/?utm_source=hashnode&utm_medium=hackathon&utm_campaign=announcement_article">PlanetScale</a> X <a href="https://hashnode.com/?source=planetscale_hackathon_announcement">Hashnode</a> Hackathon</p>
    </div>
   </div>
           <div class="column column-right">

    </div>
</div>

   
<Modal Closing="@OnModalClosing" @ref="projectModal">
    <ModalContent Centered Size="ModalSize.Fullscreen">
         <ModalHeader Class="modal-header"></ModalHeader>
        <ModalBody Class="modal-body">
            <Field>              
                <div> 
                    @if(SelectedProject != null)
                    {
                        @((MarkupString)SelectedProject.ProjectBrief)
                    }                 
                </div>
            </Field>
            <Field>              
                    @if (SelectedProject.HasSolution)
                    {                  
                        @if(!IsSolutionVisible)
                        {
                            <h5>Want to see how someone else solved it?</h5>

                            <a href="" @onclick="ShowSolution">Show Solution</a>
                        }
                    }
                    else
                    {
                        <p>No solution available for this project. Why not <a href="https://github.com/JoelPickin/ProjectOMatic">add one</a>.</p>
                    }
            </Field>
@*            <Field>              
                <h4>Share Your Finished Product</h4>
                <p>Share button here.</p>
            </Field>*@
        </ModalBody>
        <ModalFooter Class="modal-footer">
            <Button Class="modal-close-button" Clicked="@HideProjectModal">Close</Button>
            <Button Class="modal-fetch-button" Clicked="FetchProject">New Project</Button>
        </ModalFooter>
    </ModalContent>
</Modal>


<Modal Closing="@OnModalClosing" @ref="solutionModal">
    <ModalContent Centered Size="ModalSize.ExtraLarge">
        <ModalHeader Class="modal-header">
           </ModalHeader>
        <ModalBody>
            <Field>              
        @if(SelectedSolution != null && IsSolutionVisible)
        {
            <div>
                <h1 class="solution-heading">@SelectedSolution.Title</h1>

                @if(string.IsNullOrEmpty(@SelectedSolution.SocialLink))
                {
                    <h3 class="solution-heading">Created By: @SelectedSolution.Author</h3>                            
                }
                else
                {
                    <h3 class="solution-heading">Created By: <a href="@SelectedSolution.SocialLink">@SelectedSolution.Author</a></h3>                            
                }

            </div>

             <hr />

             @((MarkupString)SelectedSolution.SolutionContent)
            <hr />
        }
            </Field>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@HideSolutionModal">Back to project</Button>
        </ModalFooter>
    </ModalContent>
</Modal>