        <Accordion class="accordion">
    <Collapse Visible="@collapse1Visible">
        <CollapseHeader class="sub-title-container">
            <Heading class="sub-title-heading">
                <Button Clicked="@(()=>collapse1Visible = !collapse1Visible)" class="accordion-sub-button"><img class="sub-title" src="images/how-it-works.png"/>▼</Button>
            </Heading>
        </CollapseHeader>
        <CollapseBody class="collapse-text-container">
           
<div class="text-main-container">
    <div class="text-inner-container">
        <div class="text-container">
        <h4>Get your project inspiration here!</h4>

        <p>The Project-O-Matic is your go-to resource for project inspiration when learning to code.</p>

        <p>Discussions with aspiring developers highlighted that what to build can sometimes be harder than how to build... not really... but they've mentioned it.</p>

        <p>The project inspiration muscle is not something we all possess, so I created a tool to solve this issue.</p>

        <p>Enter your skill level, language and framework, hit the big red button, yes... this is one big red button you can press.</p>

        <p>Then like magic (Which is all coding really is) out comes your next project idea!</p>

        <p>Here's the math... the algo if your part of the cool kids.</p>
        
        <p style="font-weight: bold;">Skill Level + Language + Framework + BIG RED BUTTON = Project</p>

        <p>It's as easy as that!</p>

        <p>But wait... you want more!?</p>

        <p>Okay read on below, because this is more than just a project generator.</p>
        </div>
    </div>
</div>
        </CollapseBody>
    </Collapse>
    <Collapse Visible="@collapse2Visible">
        <CollapseHeader class="sub-title-container">
            <Heading class="sub-title-heading">
                <Button Clicked="@(()=>collapse2Visible = !collapse2Visible)"><img class="sub-title" src="images/open-source.png"/>▼</Button>
            </Heading>
        </CollapseHeader>
        <CollapseBody class="collapse-text-container">
<div class="text-main-container">
    <div class="text-inner-container">
        <div class="text-container">
            <h4>This is an open-source, technical writing collaboration effort</h4>

    <p>The machine might be a little light on projects at the moment, but that will change.</p>

    <p>Contributing to open-source is shown to increase the chances of landing your first development role.</p>

    <p>This project was created as an introduction to open-source, a way to ease you in to the world of pull requests, issues and commits.</p>

    <p>Alongside this is the opportunity to learn/improve your technical writing ability.</p>

    <p>The projects are loaded via local markdown files. </p>

     <p>This is where the project can ease you into the GitHub UI and making your first contribution, rather than having you comb through code and fix bugs, you just have to add a markdown file of your own. </p>

     <p>The same goes for solutions to those projects. Some developers might get stuck, or might want to learn how others approached the projects. This is where writing solutions comes in, and this is where you can improve your technical writing.</p>

     <p>The next best thing cement your knowledge outside of writing code is to teach others. Writing solutions to projects you create will help others and help you grow.</p>

     <p>Want more math?</p>

     <p>Okay...</p>

     <p style="font-weight: bold;">Building projects + Teaching others + Open-source contributions - Impostor syndrome = Great developer</p>

     <p>Want to learn more. Check out the <a href="https://github.com/JoelPickin/Project-o-Matic" target="_blank">GitHub here</a>.</p>
        </div>
    </div>
</div>        </CollapseBody>
    </Collapse>
    <Collapse Visible="@collapse3Visible">
        <CollapseHeader class="sub-title-container">
            <Heading class="sub-title-heading">
                <Button Clicked="@(()=>collapse3Visible = !collapse3Visible)"><img class="sub-title" src="images/technical-writing.png"/>▼</Button>
            </Heading>
        </CollapseHeader>
        <CollapseBody class="collapse-text-container">
<div class="text-main-container">
    <div class="text-inner-container">
        <div class="text-container">
        <h4>Get your project inspiration here!</h4>

        <p>The Project-O-Matic is your go-to resource for project inspiration when learning to code.</p>

        <p>Discussions with aspiring developers highlighted that what to build can sometimes be harder than how to build... not really... but they've mentioned it.</p>

        <p>The project inspiration muscle is not something we all possess, so I created a tool to solve this issue.</p>

        <p>Enter your skill level, language and framework, hit the big red button, yes... this is one big red button you can press.</p>

        <p>Then like magic (Which is all coding really is) out comes your next project idea!</p>

        <p>Here's the math... the algo if your part of the cool kids.</p>
        
        <p style="font-weight: bold;">Skill Level + Language + Framework + BIG RED BUTTON = Project</p>

        <p>It's as easy as that!</p>

        <p>But wait... you want more!?</p>

        <p>Okay read on below, because this is more than just a project generator.</p>
        </div>
    </div>
</div>        </CollapseBody>
    </Collapse>
</Accordion>

@code{
    bool collapse1Visible = false;
    bool collapse2Visible = false;
    bool collapse3Visible = false;
}