        <Accordion class="accordion">
    <Collapse Visible="@collapse1Visible">
        <CollapseHeader class="sub-title-container">
            <Heading class="sub-title-heading">
                <Button Clicked="@(()=>collapse1Visible = !collapse1Visible)" class="accordion-sub-button"><img class="sub-title" src="images/how-it-works.png"/></Button>
            </Heading>
        </CollapseHeader>
        <CollapseBody class="collapse-text-container">
           
<div class="text-main-container">
    <div class="text-inner-container">
        <div class="text-container">

        <p>The Project-O-Matic is your go-to resource for project inspiration when learning to code.</p>

        <p>Discussions with aspiring developers highlighted that what to build can sometimes be harder than how to build... not really... but they've mentioned it.</p> 
        
        <p>The project inspiration muscle is not something we all possess, so I created a tool to solve this issue.</p>

        <p>Enter your skill level, language and framework, hit the big red button, yes... this is one big red button you can press, like magic (Which is all coding really is) out comes your next project idea!</p>

        <p>Here's the math... the algo if you are part of the cool kids.</p>
        
        <p style="font-weight: bold;">Skill Level + Language + Framework + BIG RED BUTTON = Project</p>

        <p>It's as easy as that!</p>

        <p>But wait... you want more!?</p>

        <p>Okay read on below, because this is more than just a project generator.</p>
        </div>
    </div>
</div>
        </CollapseBody>
    </Collapse>
    <Collapse Visible="@collapse2Visible">
        <CollapseHeader class="sub-title-container">
            <Heading class="sub-title-heading">
                <Button Clicked="@(()=>collapse2Visible = !collapse2Visible)"><img class="sub-title" src="images/open-source.png"/></Button>
            </Heading>
        </CollapseHeader>
        <CollapseBody class="collapse-text-container">
<div class="text-main-container">
    <div class="text-inner-container">
        <div class="text-container">

            <p>Contributing to open-source is well-known to help developers is several ways.</p>

            <ol>
                <li>It strengthens resumes, adding real projects that you can discuss in interviews.</li>
                <li>Improves coding ability, as it allows you to practice your skills, as well as adhering to someone else coding standards.</li>
                <li>Gives experience akin to working in a development environment, as you have to read and understand someone else's code, as well as opening you up to feedback when your code is reviewed.</li>
            </ol>

            <p>As much as it has many positives, contributing to open-source can be a daunting task for anyone who is new to it, especially someone who is just getting to grips with the coding fundamentals.

            Alongside finding projects to contribute to, it can be an intimidating experience opening yourself up to scrutiny, as well as learning the ins and outs of how GitHub works.

            This is where the project-o-matic open-source collaboration effort can help.</p>


            <p>It is a welcoming project for developers of all levels. Offering the chance to get to grips with the GitHub UI/process as well as make their first open-source contribution.

            Projects are loaded via local markdown files added to the app and solutions are added via a JSON file.

            These are the ways you can make your first contributions. If you want to find out more, or steps on how to contribute, head over to the <a href="https://github.com/JoelPickin/ProjectOMatic">GitHub page</a>.</P>


            <p>Read below on how you can improve your technical writing using Hashnode.</p>
        </div>
    </div>
</div>        </CollapseBody>
    </Collapse>
    <Collapse Visible="@collapse3Visible">
        <CollapseHeader class="sub-title-container">
            <Heading class="sub-title-heading">
                <Button Clicked="@(()=>collapse3Visible = !collapse3Visible)"><img class="sub-title" src="images/technical-writing.png"/></Button>
            </Heading>
        </CollapseHeader>
        <CollapseBody class="collapse-text-container">
<div class="text-main-container">
    <div class="text-inner-container">
        <div class="text-container">

<p>The best way to improve your coding knowledge is to build projects. The second best way is to share what you have learnt.

This can benefit you as a developer in a variety of ways.</p>

<ol>
    <li>It forces you to reflect on what you have learnt and explain the concepts in a way that will be understandable to the reader.</li> 
    <li>Sharing what you have learnt in places like Hashnode can help to build your social following,  build your network and open you up to more potential opportunities.</li>
    <li>It can be a fun respite from coding to switch things up and express yourself in writing.</li>
</ol>


<p>Your approach to projects can be shared with others looking for inspiration in the form of solutions.

A solution is a blog post created in Hashnode. Going into detail about how you created a project in your chosen language and framework.</P>

<p>All you have to do is add the post link and your account to the Project-o-matic GitHub project. Then using their API we can pull in the data when a user requests inspiration.

It gets more eyes on what you have written and is attributed to your social media account should people want to know more about you.

This can be a write-up you have created especially for this project or one you have created in the past.</P>

<p>For more details on how you can contribute to open-source and improve your technical writing

<a href="https://github.com/JoelPickin/ProjectOMatic">check out the project on GitHub.</a></p>
        </div>
    </div>
</div>        </CollapseBody>
    </Collapse>
</Accordion>

@code{
    bool collapse1Visible = false;
    bool collapse2Visible = false;
    bool collapse3Visible = false;
}